# Reproduktion 'Mining the Peanut Gallary'

## Table 1/ Table 2

In [1]:
from builtins import enumerate, len
import pandas as pd

In [8]:
data_src = "../data/data.csv"
df = pd.read_csv(data_src)
print("shape:",df.shape)
print("columns", df.columns)

shape: (5515, 14)
columns Index(['Unnamed: 0', 'customer_id', 'review_id', 'product_id', 'product_title',
       'product_category', 'star_rating', 'review_headline', 'review_body',
       'bool_rating', 'categorie', 'title_tokenized', 'tokens', 'text'],
      dtype='object')

In [20]:
df_count = pd.DataFrame()
for it, category in enumerate(df.product_category.unique()):
    df_count.loc[category, "Products"] = df[df.product_category == category].product_id.nunique()
    df_count.loc[category, "positive"] = df[df.product_category == category].bool_rating.value_counts()[True]
    df_count.loc[category, "negative"] = df[df.product_category == category].bool_rating.value_counts()[False]
    
df_count

                    Products  positive  negative
Mobile_Electronics     544.0     720.0     242.0
Watches                739.0     670.0     137.0
Home Entertainment     417.0     546.0     147.0
Tools                  553.0     529.0      79.0
Electronics            687.0     635.0     146.0
Sports                 633.0     599.0      62.0
Wireless               939.0     771.0     232.0