# Reproduktion 'Mining the Peanut Gallary'

## Table 1/ Table 2

In [6]:
from builtins import enumerate, len
import pandas as pd

In [7]:
data_src = "../data/amazon_sample.csv"
df = pd.read_csv(data_src)
print("shape:",df.shape)
print("columns", df.columns)

shape: (9728, 18)
columns Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'customer_id',
       'review_id', 'product_id', 'product_title', 'product_category',
       'star_rating', 'review_headline', 'review_body', 'bool_rating',
       'categorie', 'title_tokenized', 'tokens', 'text', 'tokens_no_rare',
       'title_tokens_no_rare'],
      dtype='object')

In [8]:
df_count = pd.DataFrame()
for it, category in enumerate(df.product_category.unique()):
    df_count.loc[category, "Products"] = df[df.product_category == category].product_id.nunique()
    df_count.loc[category, "positive"] = df[df.product_category == category].bool_rating.value_counts()[True]
    df_count.loc[category, "negative"] = df[df.product_category == category].bool_rating.value_counts()[False]
    
df_count

                    Products  positive  negative
Mobile_Electronics      16.0     105.0      42.0
Watches                 35.0    1538.0     297.0
Wireless                22.0    1717.0     332.0
Home Entertainment       3.0    2269.0     674.0
Tools                   49.0    1534.0     169.0
Electronics             27.0     701.0     101.0
Sports                  12.0     206.0      43.0

In [9]:
df.categorie.unique()

array([ True])